*{
    background-color: whitesmoke;
}

.container{
    width: 100%;
    height: 98vh;
    display: flex;
    flex-wrap: wrap;
}

.card-container{
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.btn{
    margin: auto;
    background-color:#48cae4;
    color: #caf0f8;
    height: 45px;
    width: 80px;
    border-radius: 3px;
    border: 5px solid #0077b6;
}

.card{
    min-width: 200px;
    height: 20%;
    border-radius: 15px;
    margin: 15px;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card:hover{
    transform: rotateY(180deg);
}

.card .card-side{
    height: 100%;
    width: 100%;
    position: absolute;
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card .card-side p{
    background-color: var(--class-item-bg);
}

.card .card-back{
    transform: rotateY(180deg);
}