* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container{
    display: flex;
    margin: auto;
    width: 80%;
}

.card-container {
    height: 500px;
}

.card{
    flex-direction: column;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 75%;
    margin: auto;
    position:relative;
    display: flex;
}

.card-side{
    transition: all 0.8s;
    width: 200px;
    border-radius: 20px;
    border: 3px solid brown;
    display: flex;
    margin: auto;
    height: 100%;
}

.card-side-front{
    background-color: beige;
}

.card-side-back{
    background-color: yellow;
    transform: rotateY(180deg);
}

.card:hover .card-side-back{
    transform: rotateY(0);
}


.card:hover .card-side-front{
    transform: rotateY(180deg);
}

.btn {
    border: 5px solid red;
    border-radius: 5px;
    margin: auto;
    width: 15%;
    height: 50px;
}

.btn:hover{
    background-color: red;
}