.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #023e8a;
}

.card-container{
    width: 200px;
    height: 300px;
}

.button-container{
    margin-top: 40px;
}

.btn{
    background-color:#48cae4;
    color: #caf0f8;
    height: 45px;
    width: 80px;
    border-radius: 3px;
    border: 5px solid #0077b6;
}

.card{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-container:hover .card{
    transform: rotateY(180deg);
}

.card .card-side{
    height: 100%;
    width: 100%;
    position: absolute;
    border: 5px solid #0077b6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card-front{
    background-color: aqua;
}

.card .card-back{
    background-color: aquamarine;
    transform: rotateY(180deg);
}