.post-card{
    border: black 5px solid;
    border-radius: 20px;
    margin-top: 20px;
    height: 400px;
    background-color: whitesmoke;
    box-shadow: 3px 3px gray ;
}

.post-card hr{
    background-color: black;
    margin: 0px;
}

.post-card .post-card-header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.post-card .post-card-header .avatar{
    border: 2px solid black;
    border-radius: 50%;
    height: 80%;
    width: auto;
    margin-top: 6px;
    margin-right: 20px;
}

.post-card .post-card-body{
    height: 200px;
    display: flex;
}

.post-card .post-card-body p{
    margin: auto;
    width: 80%;
}

.post-card .post-card-comments{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100px;
}

.post-card .post-card-comments button{
    margin-top: 20px;
    margin-right: 30px;
    height: 40%;
    width: 10%;
    border: hidden;
    border-radius: 5px;
    background-color: rgb(194, 181, 181);
    box-shadow: 3px 3px gray ;
}